body {
	height: 100%;
    width: 100%;
    position: fixed;
}

.container-fluid {
	height: 90%;
	position: relative;
}

.container-fluid > .row, .row > .col-xs-8, .row > .col-xs-4 {
	height: 100%;
	position: relative;
}

.control-group {
	height: 90%;
	position: relative;
}

.navbar > .container-fluid {
	height: auto;
}

#textInput {
	height: 100%;
	width: 100%;
	overflow-y: scroll;
}

#textInput > span {
	background: #ececec;
}

.copyright {
	font-size: 9px;
	color: lightgrey;
}

#textInput > .hovering {
	border: 1px solid black;
}

#selectedTexts {
	height: 100%;
	width: 100%;
}

#selectedTexts > li {
	border: 1px solid #ececec;
	border-radius: 3px;
	padding: 5px;
	margin-top: 10px;
}

#selectedTexts > li > h5 {
	font-size: 12px;
    font-weight: bold;
    margin-bottom: 0px;
    border-top: 1px solid #ececec;
    padding-top: 3px;
}

input#upload {
	display: none;
}

.noSelectedTexts {
	text-align: center;
	color: #d1d1d1;
	font-style: italic;
}

#selectedTexts > li > button {
	/*display: none;*/
	display: inline-block;
    position: relative;
    margin-right: 0px;
    margin-left: 90%;
    margin-top: -15px;
}

#selectedTexts > li:hover > button {
	display: inline;
}


.selectionConfirmBox {
	background: #fcfcfc;
	border: 2px solid #ececec;
	border-radius: 3px;
	padding: 3px;
	box-shadow: darkgrey 1px 1px 1px;
}

.selectionConfirmBox > span {
	font-size: 12px
}